In [418]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import text
import re 
from io import StringIO
import matplotlib.pyplot as plt

#### Connexion à la base de données sur DBeaver admin

In [419]:
DATABASE_URL = "postgresql://admin:admin@localhost:5432/postgres"
engine = create_engine(DATABASE_URL)

On vérifié d'abord l'intégrité du CSV:
Vérifie que le nombre de colonnes réels correspond au nom de colonnes que l'en-tête définit,

In [420]:
# Fonction qui néttoie des virgules entre paranthèses, dans l'en-tête et dans les colonnes
def count_valid_columns(line):
    cleaned_line = re.sub(r"\(.*?,.*?\)", lambda m: m.group(0).replace(",", ""), line)
    return len(cleaned_line.strip().split(","))

In [421]:
csv_files = ["consumer_data.csv", "car_data.csv"]

for file_name in csv_files:
    with open (file_name, "r", encoding="utf-8") as f:
            lines = f.readlines()

    header = lines[0]
    expected_col_count = count_valid_columns(header)


   
    cols = count_valid_columns(lines[1])
    if cols != expected_col_count:
            print(f" Problème pour {file_name}: {cols} colonnes trouvées, {expected_col_count} attendues")
            print(f"{file_name} Colonnes attendues : {header}")

Ici, on a remarqué que ce n'est pas le cas et qu'une colonne 'Brand' est manquante entre Country et Model.  
On l'ajoute alors semi-manuellement, en l'insérant par code ( au final on aurait tout aussi bien pu la supprimer car elle etait fausse donc à nettoyer )

In [422]:
with open("consumer_data.csv", "r", encoding="utf-8") as f:
    lines = f.readlines()

cols = lines[0].strip().split(",")
cols.insert(1, "Brand")
lines[0] = ",".join(cols) + "\n"

print(f" {lines[0]}")

#with open("consumer_data.csv", "w", encoding="utf-8") as f:
        #f.writelines(lines)

 Country,Brand,Brand,Model,Year,Review Score,Sales Volume

## Supprime les tables

In [423]:
with engine.begin() as conn:
    conn.execute(text("DROP TABLE IF EXISTS sales CASCADE;"))
    conn.execute(text("DROP TABLE IF EXISTS cars CASCADE;"))
    conn.execute(text("DROP TABLE IF EXISTS countries CASCADE;"))
    conn.execute(text("DROP TABLE IF EXISTS country CASCADE;"))

In [424]:
with engine.begin() as conn:
    conn.execute(text(""" 
        CREATE TABLE countries (
            id SERIAL PRIMARY KEY,
            name VARCHAR(100) UNIQUE NOT NULL
            );
    """))
    conn.execute(text("""
        CREATE TABLE cars (
            car_id INTEGER PRIMARY KEY,
            make VARCHAR,
            model VARCHAR,
            production_year INTEGER,
            price FLOAT,
            engine_type VARCHAR
        );
    """))

    conn.execute(text("""
        CREATE TABLE sales (
            sale_id SERIAL PRIMARY KEY,
            car_id INTEGER REFERENCES cars(car_id),
            country_id INTEGER REFERENCES countries(id),
            brand VARCHAR,
            model VARCHAR,
            year INTEGER,
            review_score FLOAT,
            sales_volume INTEGER
        );
    """))

Chargement des fichiers csv

In [425]:
cars_df = pd.read_csv("car_data.csv")  
sales_df = pd.read_csv("consumer_data.csv")

### Insertion des pays

In [426]:

countries_df = pd.DataFrame({"name": sales_df["Country"].str.strip().drop_duplicates()})
countries_df.to_sql("countries", engine, if_exists="append", index=False)

3

# Insertion de la table cars

Aussi, on nettoie le header avant de l'insérer dans la base données car le header de cars était corrompu. Le but final est d'adapté ce qu'on insère à la structure des tables (on pourrait facilement le généraliser à toutes les insertions (sales en l'occurance))

In [ ]:
# Extraction du header du CSV
with open("car_data.csv", "r", encoding="utf-8") as f:
    lines = f.readlines()


raw_header = lines[0]
print(raw_header)

# Garder uniquement les lettres et transforme le reste en virgule
filtered_string = "".join(
    c if ('A' <= c <= 'Z' or 'a' <= c <= 'z' or c == ' ') else ',' for c in raw_header
)


# Nettoyage de toutes les virgules
clean_header = ",".join(word.strip() for word in filtered_string.split(',') if word.strip())

# Passage en miniscule
clean_header = clean_header.lower()  

# Netoyage final de l'en-tête avec remplacement des espaces par des lower case
clean_columns = [
    col.strip().lower().replace(" ", "_")
    for col in filtered_string.split(",")
    if col.strip()
]

clean_header = ",".join(clean_columns)  # recomposition
clean_csv = clean_header + "\n" + "".join(lines[1:])
print(clean_header)

# lecture du CSV nettoyé
df_cars = pd.read_csv(StringIO(clean_csv), header=0)

# Reset de la table dans la BD pour pas ajouté sur quelques chose déjà existant
with engine.begin() as conn:
    conn.execute(text("TRUNCATE TABLE cars RESTART IDENTITY CASCADE;"))


# Ajout de car_id manuellement (pour compléter ta table)
df_cars = df_cars.drop_duplicates(subset=["model"])  
df_cars.insert(0, "car_id", range(1, len(df_cars) + 1))



# Insertion dans PostgreSQL
df_cars.to_sql("cars", engine, if_exists="append", index=False)
print(" Données insérées dans la table 'cars' avec car_id.")

"('Make', 0),""('Model', 0)"",""('Production Year', 0)"",""('Price', 0)"",""('Engine Type', 0)"""

make,model,production_year,price,engine_type
 Données insérées dans la table 'cars' avec car_id.

In [428]:
with engine.connect() as conn:
    model_to_car_id = dict([
        (row[0], row[1]) for row in conn.execute(text('SELECT "model", car_id FROM cars'))
    ])
    
    country_to_id = dict([
        (row[0], row[1]) for row in conn.execute(text('SELECT name, id FROM countries'))
    ])

print(" model_to_car_id :", model_to_car_id)
print(" country_to_id  :", country_to_id)

 model_to_car_id : {'XE': 1, 'Forte': 2, 'Panda': 3, 'Maxima': 4, '124 Spider': 5, '5008': 6, 'LS': 7, 'Equinox': 8, 'GLE': 9, 'Panamera': 10, '5 Series': 11, 'Envision': 12, 'Atlas': 13, 'I-PACE': 14, 'Q5': 15, 'Explorer': 16, 'Corsa': 17, 'Model S': 18, 'Corolla': 19, 'TLX': 20, 'Regal': 21, 'ES': 22, 'Fit': 23, 'MDX': 24, 'Forester': 25, 'Mustang': 26, 'C-Class': 27, 'Altima': 28, 'Mazda3': 29, 'Rogue': 30, 'Model X': 31, 'Leaf': 32, '500': 33, 'Elantra': 34, 'Camry': 35, 'F-150': 36, 'RDX': 37, 'Model Y': 38, 'X5': 39, 'Rav4': 40, 'Grandland X': 41, 'Highlander': 42, 'X3': 43, '911': 44, 'Cayenne': 45, 'GLC': 46, 'Tipo': 47, 'e-tron': 48, 'Escape': 49, 'Crossland X': 50, 'GX': 51, 'XC60': 52, 'Accord': 53, 'S90': 54, 'S60': 55, 'Taycan': 56, 'Passat': 57, 'Impreza': 58, 'NX': 59, '3 Series': 60, 'Civic': 61, 'Prius': 62, 'F-PACE': 63, 'Outback': 64, 'Macan': 65, 'Golf': 66, 'Scenic': 67, 'Traverse': 68, 'RX': 69, 'Soul': 70, 'Model 3': 71, 'Captur': 72, 'Fusion': 73, 'MX-5': 74, 'CR-V': 75, 'Santa Fe': 76, 'Kadjar': 77, 'XF': 78, 'Mazda6': 79, 'CX-9': 80, 'Insignia': 81, 'A6': 82, 'XC90': 83, 'Pilot': 84, 'Sportage': 85, 'Legacy': 86, '508': 87, 'CX-5': 88, 'Astra': 89, 'S-Class': 90, 'Tiguan': 91, 'Bolt': 92, 'Sonata': 93, '308': 94, 'Encore': 95, '7 Series': 96, '208': 97, 'RLX': 98, 'Murano': 99, 'Enclave': 100, 'Ascent': 101, 'XC40': 102, 'E-Class': 103, 'Clio': 104, 'Jetta': 105, 'Telluride': 106, 'Megane': 107, 'Malibu': 108, 'Q7': 109, 'A4': 110, 'Tucson': 111, 'Cruze': 112, '500X': 113, 'Optima': 114, 'Palisade': 115, '3008': 116}
 country_to_id  : {'Germany': 1, 'USA': 2, 'France': 3}

In [429]:
sales_df["car_id"] = sales_df["Model"].map(model_to_car_id)
sales_df["country_id"] = sales_df["Country"].map(country_to_id)

# Insertion de la table sales

In [430]:
sales_final = sales_df[["car_id", "country_id", "Brand", "Model", "Year", "Review Score", "Sales Volume"]]
sales_final.columns = ["car_id", "country_id", "brand", "model", "year", "review_score", "sales_volume"]

sales_final.to_sql("sales", engine, if_exists="append", index=False)

755